<div style="display: grid; place-items: center;">
<div class="login">
  <figure class="avatar">
    <figcaption class="avatar__name">Login</figcaption>
  </figure>
  <form class="form">
    <div class="input">
      <label class="input__label">Email</label>
      <input type="email" class="input__email" placeholder="user@login.com">
    </div>
    <div class="input">
      <label class="input__label">Senha</label>
      <input type="password" class="input__password" placeholder="····">
    </div>
  </form>
  <button class="form__button" (click)="onLogin()">Login</button>
</div>  

</div>